[Desktop Entry]
Comment[en_US]=
Comment=
Exec=firefox file:///home/mesk/Desktop/.docs/support.html
GenericName[en_US]=
GenericName=
Icon=voicecall
MimeType=
Name=Support
Name[ar]=الدعم
Name[en]=Support
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
